*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}
.navul{
    list-style: none;
}
.header{
    width: 100%;
    background-color: white;
    position: fixed;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 70px;
    z-index: 1111;
    box-shadow: 0 0 20px 0 #3e4042;
}
.navbar{
    width: 90%;
}
.nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
#sidebars{
    align-items: center;
    background-color: white;
    bottom: 0;
    justify-content: center;
    left: 0;
    min-height: 100vh;
    overflow-y: auto;
    padding: 4.6rem 0 3rem;
    position: fixed;
    right: 0;
    top: 0;
    z-index: 3;
}
.sweet{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.sidesweet{
    display: flex;
    align-items: center;
    flex-direction: column;
}
.sidesweet li{
    color: #1560BD;
    list-style: none;
    font-size: 19px;
    font-weight: 600;
}
.green{
    padding-bottom: 30px;
}
.toggler{
         /* position: relative; */
        background-color: transparent;
        border-color: transparent;
        align-items: center;
        cursor: pointer;
        display: none;
        flex-direction: column;
        justify-content: space-between;
        margin: 0;
        padding: 3px;
        width: 24px;
        height: 20px;
}
.icon2{
    transform: rotate(45deg) translateY(0);
    position: absolute;
    right: 0;
    top: 20%;
    background-color: #1560BD;
    border-radius: 1rem;
    display: inline-block;
    height: 2px;
    transition: all .2s ease;
    width: inherit;
    color: #1560BD;
    
}
.home{
    background-color: #1560BD;
    color: white!important;
    padding: 10px 120px;
    border-radius: 13px;
    margin-bottom: 30px;
}
.icon3{
    transform: rotate(-45deg) translateY(0);
    position: absolute;
    right: 0;
    top: 20%;
    background-color: #1560BD;
    border-radius: 1rem;
    display: inline-block;
    height: 2px;
    transition: all .2s ease;
    width: inherit;
}
.container{
    background-color: #D6DCFD;
    display: flex;
    align-items: center;
    width: 100%;
    position: relative;
    padding-top: 150px;
    justify-content: center;
}
.sidebtn{
    background-color: white;
    border: 2px solid #1560BD;
    color: #1560BD;
    padding: 10px 100px;
    font-size: 19px;
    border-radius: 12px;
    font-weight: 600;
}
.cont{
    
    display: flex;
}
.contain{
    width: 90%;
}
.leftcont{
    width: 50%;
    margin-left: 100px;
}
.rightcont{
    width: 50%;
}
.rightcont img{
    object-fit: contain;
}
.navlist,.navul{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.navul li{
    padding-right: 90px;
    color: #333333;
    font-size: 19px;
    font-weight: 400;
}
.navul{
    margin-right: 65px;
}
.btn1{
    border: none;
    color: #0057C2;
    background-color: transparent;
    margin-right: 30px;
    font-size: 19px;
    font-weight: 500;
}
.btn2{
    border: 2px solid #1560BD;
    border-radius: 8px;
    padding: 7px 10px;
    background-color: transparent;
    color: #1560BD;
    font-size: 19px;
    font-weight: 600;
}
.light{
    height: 43px;
    width: 43px;
    color: #E154B2;
    transition: color 2s;
}
.milk{
  color: #E154B2;
}
/* .contimg{
    position: relative;
    width: 10%;
} */
.spiral{
    position: absolute;
     top: -5px;
     left: 0;
     width: 200px;
}
.spill{
    position: absolute;
    right: 0;
    top: 100px;
    /* z-index: -1; */
}
.light:hover{
    color: dodgerblue;
    transition-timing-function: ease-in-out;
    transition-property: color;
}
.leftcont h2{
    font-size: 54px;
    font-weight: 600;
    line-height: 70px;
    color: #1560BD;
    margin-bottom: 15px;
}
.leftcont p{
    color: #1560BD;
    font-size: 28px;
    line-height: 35px;
    font-weight: 100;
    margin-bottom: 40px;
}
.btn3{
    color: white;
    background-color: #1560BD;
    border: none;
    border-radius: 6px;
    padding: 19px 49px;
    font-size: 25px;
    font-weight: 600;
    font-family: Roboto;
    box-shadow: 0px 8px 4px rgba(0, 0, 0, 0.25);
}
.pin{
  position: absolute;
  /* left: 36.03%;
  right: 59.75%;
  top: 8.52%;
  bottom: 90.68%; */
}
.reni{
    width: 100%;
}
.renitrust{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 95px 80px;
}
.ha{
    font-style: normal;
    font-weight: 600;
    font-size: 36px;
    padding-bottom: 100px;
}
.grid{
    display: flex;
    align-items: center;
    justify-content: center;
    justify-content: space-between;
    width: 90%;
}
.grid1,.grid2,.grid3{
    width: 20%;
}
.grid h3{
    margin-bottom: 20px;
    margin-top: 20px;
    font-size: 25px;
    text-align: left;
    font-weight: 600;
}
.grid p{
    color: #333333;
    font-size: 25px;
    opacity: 0.85;
    line-height: 33px;
    text-align: left;
}
.why-choose{
    position: relative;
}
.blue{
    background-color: #1560BD;
    color: white;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}
.bluesect{
    width: 90%;
    display: flex;
    align-items: center;
    flex-direction: column;
}
.c1{
    position: absolute;
    left: 0;
    top: -60px;
}
.c2{
    position: absolute;
    right: 0;
    bottom: -140px;
}
/* .bimage{
    position: relative;
} */
.b1{
    position: absolute;
    top: 30px;
    right: 620px;
}
.b2{
    position: absolute;
    top: 350px;
    left: 60px;
}
.b3{
    position: absolute;
    top: 450px;
    right: 495px;
}
.b4{
    position: absolute;
    top: 500px;
    left: 320px;
}
.b5{
    position: absolute;
    bottom: 0;
}
.b6{
    position: absolute;
    right: 5px;
    bottom: 50px;
}
.bluesect h2{
    padding-top: 40px;
    font-size: 35px;
    font-weight: 400;
}
.bluecont{
    display: flex;
    justify-content: space-between;
    margin-top: 120px;
}
.create{
    display: flex;
  background: #FFFFFF;
  box-shadow: 0px 4px 20px 1px rgba(0, 0, 0, 0.15);
  border-radius: 12px;
  width: 860px;
  height: 450px;
  padding: 15px 16px;
  align-items: center;
  margin-bottom: 60px;
}
.create img{
    width: 46%;
}
/* .contain{
    width: 50%;
} */
.create h2{
    color: #1560BD;
    font-size: 42px;
    font-weight: 600;
    padding-bottom: 20px;
}
.create p{
   color: #1560BD;
   font-size: 38px;
   align-items: center;
   font-weight: 400;
}
.bc2{
    display: flex;
    flex-direction: column;
    padding-left: 100px;
}
.keep{
    width: 40%!important;
    margin-right: 30px;
}
.phone{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}
.bills{
  width: 85%;
  position: relative;
  margin-top: 70px;
}
.sugar{
    padding: 150px 0;
    display: flex;
    align-items: center;
    justify-content: center;
}
.bstart{
    background-color: white;
    color: #1560BD;
    border: none;
    margin-top: 30px;
    padding: 16px 40px;
    font-size: 25px;
    font-weight: 600;
    border-radius: 15px;
     position: relative;
     display: flex;
     align-items: center;
     justify-content: center;
    /* top: 0; */
}
.bc1{
    display: flex;
    justify-content: center;
    align-items: center;
}
.bno{
    position: absolute;
    width: 50px;
    right: -10px;
    top: -10px;
}
.key{
    height: 80%;
}
.payment{
    background-color: #E8EBFF;
    border-radius: 12px;
    display: flex;
}
.payment h2{
    color: #1560BD;
    padding-bottom: 25px;
    font-size: 29px;
}
.payment p{
    color: #747474;
    width: 56%;
    font-size: 25px;
}
.p1{
    position: absolute;
    right: 450px;
    top: 60px;
    width: 40px;
}
.p2{
    position: absolute;
    right: 40px;
    top: 200px;
    width: 40px;
}
.p3{
    position: absolute;
    right: 700px;
    top: 110px;
    width: 40px;
}
.p4{
    position: absolute;
    right: 380px;
    top: 80px;
    width: 40px;
}
.fone{
    position: absolute;
    width: 700px;
    top: 23px;
    right: 195px;
    z-index: 1;
}
.happy{
    position: absolute;
    width: 150px;
    right: 500px;
    top: 130px;
}
.fonecont{
    padding-top: 40px;
    text-align: left;
    padding-left: 30px;
    padding-bottom: 40px;
    width: 100%;
}
.extra{
    position: absolute;
width: 2392px;
height: 874px;
left: -119px;
top: 4904px;
}
.clients{
    background-color: #D6DCFD;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}
.saying{
    width: 95%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 60px;
    position: relative;
    padding-bottom: 200px;
    
}
.saying h2{
    color: #1560BD;
    margin-bottom: 40px;
}
.exclaim{
    width: 30px;
    height: 30px;
    color: #1560BD;
}
.all{
    overflow: hidden;
}
.stackedanims{
    margin: auto;
    overflow-x: hidden;
    position: absolute;
    max-width: 100vw;
    left: 0;
    right: 0;
    z-index: 1;
    top: 160px;
    display: flex;
}
.cards{
    display: flex;
}
.card1{
    background-color: white;
    border-radius: 15px;
    margin-right: 30px;
    padding: 10px 25px;
    box-shadow: 0px 4px 20px 2px rgba(0, 0, 0, 0.25);
    /* animation: animate 40s linear 0s infinite normal none runningczuto; */
    /* min-width: 2800px; */
    width: 60%;
    /* transform: translateZ(0); */
    margin-right: 20px;
}  
.stackedanims{
    transform: translateZ(0);
    animation: nonStop 20s linear infinite normal none running;
    min-width: 2800px;
}
@keyframes nonStop {
    100%{
        transform: translate3d(-100%,0,0);
    }
}
.efe{
    display: flex;
    align-items: center;
    justify-content: center;
}
.efe img{
    width: 50px;
    height: 50px;
    margin-right: 20px;
}
.system{
    margin-bottom: 25px;
}
.food{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: black!important;
}
.food h2{
    color: black!important;
    margin: 0!important;
}
.ready{
    margin: 120px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
}
.ready h2{
    color: #1560BD;
    font-size: 18px;
    font-weight: 600;
    padding-bottom: 10px;
    text-align: center;
}
.ready p{
    color: #1560BD;
    font-size: 15px;
    font-weight: 400;
    padding-bottom: 15px;
    text-align: center;
}
.btn0{
    background-color: #1560BD;
    color: white;
    padding: 12px 50px;
    border: none;
    outline: none;
    border-radius: 15px;
    font-size: 15px;
    box-shadow: 0px 8px 20px rgba(0, 0, 0, 0.25);
}
.links{
    background-color: #1560BD;
    box-shadow: 0px 11px 30px 2px #1560BD;
    margin: 40px 15px;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 90%;
    /* height: 100%; */
}
.link1{
    padding-bottom: 50px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 80%;
}
.link{
    /* padding-right: 100px; */
    font-size: 20px;
    text-align: center;
}
.link h3{
    padding-top: 30px;
    padding-bottom: 30px;
}
.link ul{
    list-style: none;
}
.l1{
    position: absolute;
    left: 0;
    top: 0;
    z-index: -1;
}
.bcard{
    position: absolute;
    top: -15px;
    left:-30px !important ;
}
.tired{
    flex-grow: 2;
    border: none;
    background-color: transparent;
}
.tired::placeholder{
    color: white;
    font-size: 20px!important;
}
.l2{
    position: absolute;
    right: 0;
    bottom: 40px;
    z-index: -1;
}
.link li{
    padding-bottom: 15px;
}
/* .bcast{
    position: absolute;
    top: 0;
} */
.link2{
    display: flex;
    padding-bottom: 30px;
    position: relative;
    width: 80%;
    justify-content: space-between;
    align-items: center;
}
.link2 p{
    padding-top: 35px;
    /* max-width: 300px; */
    padding-right: 20px;
    font-size: 20px!important;
}
.bcast{
    padding-right: 15px;
    /* width: 50px; */
    height: 50px;
}
.white{
    color: white!important;
}
.btn1a{
    background-color: transparent;
    border: 2px solid white;
    padding: 3px;
    color: white;
    border-radius: 15px;
    display: flex;
    justify-content: space-between;
    height: 50px;
    width: 75%;
}
.btn1b{
    border: none;
    background-color: white;
    color: #1560BD;
    border-radius: 5px;
    padding: 5px 13px;
    margin-left: 5px;
}
.card1 img{
    width: 20px;
    height: 20px;
}
.last{
    padding-top: 40px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 90%;
}
.last1{
    display: flex;
    align-items: center;
    justify-content: center;
}
 .last1 img{
    padding-right: 50px;
} 
.hello{
    color: #1560BD;
    text-decoration: none;
    padding-right: 50px;
    font-size: 20px;
}
.sing{
    text-decoration: underline!important;
    text-decoration-color: #1560BD;
}
.last2{
    display: flex;
    align-items: center;
    justify-content: center;
}
.last2 img{
    /* width: 50px;
    height: 50px; */
    padding-right: 10px;
}

/* @keyframes animate{
    0%{
        transform: ;
    }
} */


@media (max-width: 1500px) {
    .spill{
        right: -20px;
    }
    .c1{
        left: -20px;
    }
    .c2{
        right: -30px;
    }
}
@media (max-width: 1400px) {
    .fone{
        right: 165px;
    }
}
@media (max-width: 1320px) {
    .leftcont h2{
        font-size: 47px;
    }
    .grid1,.grid2,.grid3{
        width: 31%;
    }
    .fone{
        right: 130px;
    }
    .happy{
       right: 480px;
    }
    .rightcont img{
        width: 90%;
    }
    .cont{
        padding-bottom: 40px;
    }
}
@media (max-width: 1290px) {
    .rightcont{
        width: 40%;
    }
    .leftcont
    {
        margin-left: 67px;
    }
    .spiral{
        width: 150px;
    }
    .renitrust{
        padding: 95px 70px;
    }
    .grid1,.grid2,.grid3{
        width: 28%;
    }
    .fone{
        right: 120px;
    }
    .happy{
        right: 460px;
    }
    .l1,.l2{
        width: 200px;
    }
}
@media (max-width: 1236px) {
    .container{
        width: 100%;
    }
    .contain{
        width: 90%;
    }
    .leftcont h2{
        font-size: 50px;
    }
    .leftcont p{
        font-size: 25px;
    }
    .rightcont{
        width: 40%;
    }

    .grid{
        width: 80%;
    }
}
@media (max-width: 1216px) {
    .header{
        width: 100%;
    }
    .navbar{
        width: 95%;
    }
    .navul li{
        padding-right: 60px;
    }
    .navul{
        margin-right: 50px;
    }
}
@media (max-width: 920px) {
    .key{
        height: 70%;
    }
    .create{
        width: 630px;
        height: 370px;
    }
    .bc2{
        padding-left: 30px;
    }
    .create h2{
        font-size: 36px;
    }
    .create p{
        font-size: 30px;
    }
    .c1{
        width: 170px;
    }
    .bluesect{
        padding-bottom: 0;
    }
    .spiral{
         width: 110px;
    }
    .leftcont{
        margin-left: 20px;
    }
    .leftcont h2{
        font-size: 45px;
    }
    .leftcont p{
        font-size: 23px;
    }
    .spill{
        width: 200px;
    }
    .contain{
        width: 95%;
    }
      .rightcont{
          width: 50%;
      }
     .rightcont img{
         width: 100%;
     }
     .btn3{
         margin-bottom: 40px;
     }
     .navul li{
         padding-right: 40px;
     }
     .grid1,.grid2,.grid3{
         width: 35%;
         padding-right: 15px;
     }
     .grid{
         width: 90%;
         align-items: flex-start;
     }
     .bc2{
         margin-bottom: 0;
         padding-bottom: 0;
     }
     .fone{
         right: -40px;
     }
     .happy{
         right: 300px;
     }
}
@media (max-width: 900px) {
    .cont{
        padding-bottom: 50px;
    }
    .spill{
        /* right: -120px;
        top: 50px; */
        width: 170px;
    }
    .leftcont{
        width: 90%;
    }
    .rightcont{
        display: none;
    }
    .spiral{
        width: 120px;
        left: -30px;
    }
    .renitrust{
        padding: 40px 70px;
    }
    .grid{
        width: 95%;
    }
    .fone{
        right: -45px;
    }
    .happy{
        right: 300px;
    }
    .link2{
        width: 95%;
    }
    .leftcont h2{
        padding-top: 10px;
    }
    .link2 p{
        font-size: 18px!important;
    }
    .bcard{
        left: -20px!important;
    }
}
@media (max-width: 840px) {
    .grid1,.grid2,.grid3{
        width: 80%;
    }
}
@media (max-width: 835px) {
    .navlist{
        display: none;
    }
    .rightcont img{
        display: none;
    }
    .leftcont{
        width: 100%;
    }
    .container{
        padding-top: 80px;
    }
    .leftcont h2{
        font-size: 40px;
    }
    .grid{
        display: flex;
        flex-direction: column;
    }
    .grid1,.grid2,.grid3{
        width: 90%;
        padding-bottom: 20px;
    }
    .blue{
        width: 100%;
    }
    .key{
        display: none;
    }
    .c1{
        width: 15%;
    }
    .c2{
        width: 20%;
    }
    .bc2{
        /* width: 90%; */
        padding-left: 0;
    }
    .create{
        width: 650px;
        height: 380px;
    }
    .bluecont{
        justify-content: center;
    }
    .create h2{
        font-size: 30px;
    }
    .create p{
        font-size: 28px;
    }
}
@media (max-width: 770px) {
    .happy{
       right: 260px;
    }
    .fone{
        width: 650px;
    }
}
@media (max-width: 735px) {
    .toggler{
        display: block;
    }
    .grid1,.grid2,.grid3{
        width: 80%;
    }
    .bills{
        width: 90%;
    }
    .fone{
        top: 120px;
    }
    .happy{
        right: 240px;
        top: 160px;
    }
    .last{
        width: 100%;
    }
}   
@media (max-width: 700px) {
    .fonecont{
        padding-top: 300px;
        text-align: center;
        padding-left: 0;
    }
    .payment p{
        width: 100%;
    }
    .happy{
        display: none;
    }
    .fone{
        top: 30px;
        right: 100px;
    }
    .bstart{
        margin: 20px auto;
    }
}
@media (max-width: 685px) {
    .create{
        width: 520px;
    }
    .create p{
        font-size: 25px;
    }
}
@media (max-width: 600px) {
    .create{
        width: 500px;
        height: 320px;
    }
    .c1{
        width: 150px;
    }
    .create h2{
        font-size: 30px;
    }
    .create p{
        font-size: 24px;
    }
    .links{
        width: 91%;
    }
    .link{
        font-size: 17px;
    }
    .link1{
        width: 90%;
    }
    .link2{
         flex-direction: column;
    }
    .btn1a{
        width: 90%;
    }
    .last1 img{
        padding-right: 15px;
    }
    .hello{
        padding-right: 15px;
        font-size: 16px;
    }
}
@media (max-width: 550px) {
    .spiral{
        width: 80px;
    }
    .leftcont{
        width: 100%;
        margin-left: 20px;
        padding-top: 30px;
    }
    .spill{
        right: -100px;
        top: 200px;
        width: 120px;
    }
    .leftcont h2{
        font-size: 60px;
    }
    .rightcont{
        display: none;
    }
    .header{
        box-shadow: none;
    }
    .btn3{
        margin-bottom: 60px;
        width: 100%;
    }
    .grid{
        width: 100%;
    }
    .grid1,.grid2,.grid3{
        width: 100%;
    }
    .renitrust{
        padding: 30px 30px!important;
    }
    .why-choose{
        padding-bottom: 40px;
        /* width: 60%;
        object-fit: contain; */
    }
    .toggler{
        display: flex;
    }
    .create{
        width: 500px;
        height: 230px;
    }
    .create img{
        width: 30%;
    }
    .keep{
        width: 30%!important;
    }
    .create h2{
        font-size: 25px;
    }
    .create p{
        font-size: 23px;
    }
    .bc2{
        padding-bottom: 20px;
    }
    .bluecont{
        width: 70%;
    }
    .c2{
        bottom: -100px;
    }
    .link1{
        display: none;
    }
    .l1{
        width: 20%;
    }
    .l2{
        width: 20%;
    }
    .link2{
        padding: 30px 0;
        flex-direction: column;
    }
    .payment h2{
        font-size: 26px;
    }
}
@media (max-width: 545px) {
    .spiral{
        width: 80px;
    }
    .grid1,.grid2,.grid3{
        width: 80%;
    }
    .c1{
        width: 110px;
    }
    .create{
        width: 390px !important;
        height: 270px !important;
    }
    .create h2{
        font-size: 20px !important;
    }
    .create p{
        font-size: 22px !important;
    }
    .bcast{
        width: 10%;
        padding-right: 0;
    }
    .btn1a{
        width: 100%;
    }
    .last{
        width: 100%;
    }
    .last1 img{
        padding-right: 10px;
        padding-left: 3px;
    }
    .hello{
        padding-right: 11px;
        font-size: 15px;
    }
    .last2 img{
        padding-right: 8px;
    }
    .fone{
        /* width: 500px;
        top: 160px; */
        right: -60px;
        top: 30px!important;
    }
    .payment p{
        font-size: 18px;
        width: 40%;
    }
    .bstart{
        padding: 7px 15px;
        font-size: 17px;
    }
    .bno{
        width: 22px;
    }
    .happy{
        right: 125px;
        top: 190px;
    }
    .link2 p{
        padding-top: 20px;
    }
    .payment{
        flex-direction: column;
    }
    .card1{
        width: 80%;
    }
    .ready{
        margin-top: 140px;
    }
    .l1{
        top: 40px;
    }
}
@media (max-width: 480px) {
    .grid1,.grid2,.grid3{
        width: 90%;
    }
    .c1{
        width: 70px;
    }
    .bluesect h2{
        font-size: 32px;
    }
    .create{
        width: 340px !important;
        height: 220px !important;
    }
    .create h2{
        font-size: 22px !important;
    }
    .create p{
        font-size: 18px !important;
    }
    .bcard{
        top: 10px;
    }
    .link2{
        padding: 40px 0;
    }
    .hello{
        font-size: 12px;
    }
    .fone{
        right: 30px;
        top: 40px;
    }
    .navbar{
        width: 80%;
    }
}
@media (max-width: 430px) {
    .tired::placeholder{
        font-size: 16px!important;
    }
    .why-choose img{
        width: 280px;
    }
}
@media (max-width: 420px) {
    .leftcont h2{
        font-size: 30px;
        line-height: 40px;
    }
    .navbar{
        width: 80%;
    }
    .spiral{
        width: 60px;
        top: 10px;
    }
    .create{
        width: 300px;
        height: 180px;
    }
    .create h2{
        font-size: 18px;
    }
    .create p{
        font-size: 17px;
    }
    .bluecont{
        margin-top: 50px;
    }
    .c1{
        top: -52px;
    }
    .c2{
        bottom: -84px;
    }
    .fone{
         width: 550px !important;
        /* right: -20px; */
        bottom: 200px !important;
    }
    .bstart{
        font-size: 14px;
        padding: 13px 11px;
    }
    .bno{
        width: 25px;
    }
    .sugar{
        padding: 60px 0;
    }
    .payment h2{
        font-size: 18px;
    }
    .payment p{
        font-size: 13px;
        width: 40%;
    }
    .fonecont{
        padding-bottom: 20px;
    }
    .bcast{
        height: 35px;
        width: 45px;
    }
    .link2 p{
        padding-top: 15px;
    }
    .last{
        width: 100%;
        flex-direction: column;
    }
    .last1{
        width: 100%;
        padding-bottom: 15px;
    }
    .last1 img{
        padding-right: 15px;
    }
    .hello{
        padding-right: 15px;
        font-size: 15px;
    }
    .grid{
        width: 100%;
    }
    .grid1,.grid2,.grid3{
        width: 90%;
    }
    .why-choose img{
        width: 290px;
    }
}
@media (max-width: 415px) {
    .leftcont h2{
        font-size: 38px;
    }
}
@media (max-width: 380px) {
    .create{
       width: 300px;
       height: 200px;
    }
    .create h2{
        padding-bottom: 17px;
        font-size: 23px;
        font-weight: 400;
    }
    .create p{
        font-size: 15px;
    }
    .bluesect h2{
        font-size: 28px;
    }
    .tired::placeholder{
        font-size: 13px!important;
    }
    .light{
        width: 30px;
        height: 30px;
    }
}
@media (max-width: 358px) {
    .create{
        width: 270px !important;
    }
}
@media (max-width: 290px) {
    .leftcont h2{
       font-size: 20px!important;
       line-height: 30px;
    }
    .leftcont p{
      font-size: 18px;
    }
    .spill{
      width: 150px;
      right: -60px;
    }
    .spiral{
        width: 60px;
        top: 40px;
    }
    .btn3{
        font-size: 16px;
        width: 90%;
        margin-bottom: 10px;
    }
    .pin{
        width: 27%;
    }
    .cont{
        padding-bottom: 18px;
    }
    .light{
        width: 20px;
        height: 20px;
    }
    .grid1,.grid2,.grid3{
        width: 100%;
    }
    .grid h3{
        font-size: 18px;
    }
    .grid p{
        font-size: 17px;
}
      .renitrust{
          padding: 20px 30px;
      }
      .bluesect h2{
          font-size: 20px;
      }
      .c1{
          width: 70px;
      }
      .create{
          width: 220px !important;
          height: 170px !important;
      }
      .create h2{
         font-size: 15px !important;
         padding-bottom: 7px;
      }
      .create p{
         font-size: 13px !important;
      }
      .fone{
          width: 350px !important;
      }
      .why-choose img{
          width: 260px !important;
      }
      .fonecont{
          padding-top: 150px !important;
      }
      .tired::placeholder{
          font-size: 6px !important;
      }
      .btn1a{
          width: 100% !important;
      }
      .btn1b{
          margin-left: 0;
      }
      .last1 img{
          width: 80px;
      }
}
@media (max-width: 270px) {
    .why-choose img{
        width: 220px !important;
    }
}
@media (max-width: 150px) {
    .why-choose img{
        width: 140px !important;
}
.navimg img{
    width: 50%;
}
.leftcont h2{
    font-size: 16px !important;
}
.light{
    width: 14px;
    height: 14px;
}
.spill{
    width: 150px;
    right: -100px;
}
.leftcont p{
    line-height: 25px;
}
.btn3{
    width: 100px;
    font-size: 13px;
    padding: 8px 10px;
}
.create{
    width: 120px !important;
    height: 120px !important;
    padding: 8px 10px;
}
.bc2{
    padding-left: 0;
}
.create h2{
    font-size: 12px !important;
    padding-bottom: 5px;
}
.create p{
    font-size: 8px !important;
}
.fone{
    width: 200px !important;
}
}
@media (max-width: 160px) {
    .navimg img{
        width: 50%;
    }
    .leftcont h2{
        font-size: 14px !important;
    }
    .light{
        width: 11px;
        height: 11px;
    }
   .leftcont{
       margin-left: 10px;
   }
   .leftcont p{
       font-size: 15px;
   }
   .why-choose img{
       width: 130px !important;
   }
   .create{
       width: 130px !important;
       height: 140px !important;
       padding: 8px 5px;
   }
   .create h2{
       font-size: 10px !important;
   }
   .create p{
       font-size: 7px !important;
   }
   .create img{
       width: 40%;
   }
   .fone{
       width: 200px !important;
       top: 60px !important;
       left: -76px !important;
   }
   .payment p{
       width: 100%;
   }
   .hello{
       padding-right: 0;
   }
}